@font-face {
    font-family: 'QaskinBlack';
    src: url('../font/QaskinBlack_PersonalUse.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'QaskinBlackSambung';
    src: url('../font/QaskinBlack_PersonalUse.ttf') format('truetype');
}


@font-face {
    font-family: 'BrandonGrotesque';
    src: url('../font/HvDTrial_Brandon_Grotesque_black_italic.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'BrandonGrotesque2';
    src: url('../font/Brandon_reg.otf') format('truetype');
}


@font-face {
    font-family: 'BrandonGrotesqueBold';
    src: url('../font/Brandon_bld.otf') format('truetype');
}


@font-face {
    font-family: 'BrandonGrotesqueItalic';
    src: url('../font/Brandon_reg_it.otf') format('truetype');
}

.coverAll {
    position: absolute;
    background: white;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    top: 0;
    opacity: 1;
    /* background-image: url("../image/coverImage.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; */
    transition: top 1s ease, opacity 0.5s ease;
    overflow: hidden;
}

.coverImage {
    z-index: 998 !important;
    position: absolute;
    width: 100vw;
    height: 100vh;
}


.coverImageImg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.buttonInvitation {
    border: none;
    border-radius: 20px;
    background: #a8742c;
    color: white;
    width: 300px;
    padding: 8px;
}

.coverWrapper {
    display: grid;
    width: 100%;
    row-gap: 10px;
    color: white;
    font-weight: 700px;
    z-index: 999;
}

.coverAll.done {
    top: -100vh;
    opacity: 0;
}

.coverMid {
    width: 100%;
}

.coverTop {
    color: #a8742c;
    text-align: center;
    font-family: BrandonGrotesque;
}

.nameManCoverMid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.nameWomanCoverMid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coverBottom {
    font-family: BrandonGrotesque;
    color: #a8742c;
}

.coverGuest {
    font-family: BrandonGrotesque;
    color: #a8742c;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.bridgeCoverMid {
    color: #a8742c;
    text-align: center;
    font-family: QaskinBlackSambung;
    font-size: 70px;
}

.loadScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1000;
    display: none;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.loadScreenContent {
    color: #a8742c;
    text-align: center;
    font-family: QaskinBlackSambung;
    font-size: 70px;
}


.loadScreen.done{
    opacity: 0.7;
    transition: opacity 0.5s ease;
    pointer-events: fill;
}

@media (max-width: 1068px) {
    .coverImageImg {
        width: 300vw;
        height: 100vh;
        object-fit: cover;
        object-position: end;
        position: absolute;
        left: -175%;
    }
}