@font-face {
    font-family: 'QaskinBlack';
    src: url('../font/QaskinBlack_PersonalUse.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'QaskinBlackSambung';
    src: url('../font/QaskinBlack_PersonalUse.ttf') format('truetype');
}


@font-face {
    font-family: 'BrandonGrotesque';
    src: url('../font/HvDTrial_Brandon_Grotesque_black_italic.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}

.coverAll {
    position: absolute;
    background: white;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: url("../image/coverImage.jpg") center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: top 0.5s ease;
}

.buttonInvitation {
    border: none;
    border-radius: 20px;
    background: #a8742c;
    color: white;
    width: 300px;
    height: 100%;
    padding: 8px;
}

.coverWrapper {
    display: grid;
    width: 100%;
    row-gap: 10px;
    color: white;
    font-weight: 700px;
}

.coverAll.done {
    top: -100vh;
}

.coverMid {
    width: 100%;
}

.coverTop {
    color: #a8742c;
    text-align: center;
    font-family: BrandonGrotesque;
}

.nameManCoverMid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.nameWomanCoverMid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coverBottom {
    font-family: BrandonGrotesque;
    color: #a8742c;
}

.coverGuest {
    font-family: BrandonGrotesque;
    color: #a8742c;
    font-size: 35px;
    font-weight: bold;
}

.bridgeCoverMid {
    color: #a8742c;
    text-align: center;
    font-family: QaskinBlack;
    font-size: 70px;
}