.coverAll{
    position: absolute;
    background: white;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: url("../image/coverImage.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    transition: top 0.5s ease;
}

.buttonInvitation{
    border: none;
    border-radius: 20px;
    background: white;
    color: black;
    width: 300px;
    height: 100%;
    padding: 8px;
}

.coverWrapper{
    display: grid;
    width: 100%;
    row-gap: 25px;
    color: white;
    font-weight: 700px;
}

.coverAll.done{
    top: -100vh;
}