.homeAll {
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.contentAll {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.leftContent {
    width: 60vw;
    height: 100vh;
    overflow: hidden;
}

.imageCarrousel {
    width: 100%;
    height: 100%;
}


.imageCarrousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.colCarrousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightContent {
    overflow-x: hidden;
    width: 40%;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
}


