.wrapperCoupleRight {
    background-color: rgb(224, 204, 215);
    width: 100%;
    height: auto;
}

.coupleRight {
    background-color: whitesmoke;
    border-radius: 100px 100px 0px 0px;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    border: 2px solid rgb(247, 137, 155);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 3);
}

.titleCoupleRight {
    padding: 10px 30px;
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-family: BrandonGrotesque2;
    color: rgb(247, 137, 155);
    margin-top: 30px;
}

.manRight {
    width: 100%;
    height: 40%;
    overflow: hidden;
}

.manPhotoWrapper {
    width: 100%;
    height: 100%;
}

.manPhoto {
    height: 400px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 2);
    transition: box-shadow 0.3s ease-in-out;
    border: 3px solid pink;
    z-index: 20;
    position: relative;
}

.manPhoto:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 3);
}

.parentManRightWrapper {
    width: 100%;
    margin-bottom: 40px;
}

.parentManRight {
    text-align: center;
    color: rgb(247, 137, 155);
    font-size: 20px;
}

.womanRight {
    width: 100%;
    height: 40%;
    margin-top: 30px;
    overflow: hidden;
}

.womanPhotoWrapper {
    width: 100%;
    height: 100%;
}

.manPhoto {
    height: 400px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 2);
    transition: box-shadow 0.3s ease-in-out;
    border: 3px solid pink;
    z-index: 10;
}

.manPhoto:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 3);
}


.womanManRightWrapper {
    width: 100%;
}

.womanManRight {
    text-align: center;
    padding: 20px;
}

.parentWomanRightWrapper {
    text-align: center;
    color: rgb(247, 137, 155);
    font-size: 20px;
}

.parentWomanRight {
    text-align: center;
}

.textGroom {
    margin-top: 120px;
    font-family: BrandonGrotesqueBold;
    font-size: 40px;
    letter-spacing: 2px;
    color: rgb(247, 137, 155);
    text-transform: uppercase;
}

.textBride {
    font-family: QaskinBlack;
    font-size: 40px;
    letter-spacing: 2px;
    color: rgb(247, 137, 155);
}

.descManRight {
    font-family: QaskinBlackSambung;
    font-size: 70px;
    letter-spacing: 3px;
    color: #541214;

}

.descWomanRight {
    font-family: QaskinBlackSambung;
    font-size: 70px;
    letter-spacing: 3px;
    color: #541214;
}

.coupleRing {
    width: 100px;
}

.leftBorder {
    height: 10px;
    width: 100px;
    border-bottom: 2px solid black;
}

.leftBorderGroom {
    height: 0px;
    width: 250px;
    border-bottom: 2px solid pink;
}

.gif1Man {
    height: 100%;
    width: 100%;
    position: relative;
}

.gifLove1Man {
    z-index: 1;
    position: absolute;
    top: -437px;
    left: -90px;
}

.gif3Man {
    height: 100%;
    width: 100%;
    position: relative;
}

.gifLove3Man {
    z-index: 21;
    position: absolute;
    top: -140px;
    left: 15px;
    width: 240px;
}

.gif1Woman {
    height: 100%;
    width: 100%;
    position: relative;
}

.gifLove1Woman {
    z-index: 1;
    position: absolute;
    top: -437px;
    left: -90px;
    transform: scaleX(-1);
}

.gif3Woman {
    height: 100%;
    width: 100%;
    position: relative;
}

.gifLove3Woman {
    z-index: 21;
    position: absolute;
    top: -140px;
    left: 10px;
    width: 240px;
}

.pinkRibbon {
    width: 100%;
    height: 100%;
    position: relative;
}

.pinkRibbonImg {
    width: calc(80% + 180px);
    height: 170px;
    position: absolute;
    top: -50px;
    left: 0px;
    object-fit: cover;
}


.balon1 {
    height: 100%;
    width: 100%;
    position: relative;
}

.balon1Img {
    z-index: 2;
    position: absolute;
    top: -40px;
    left: -10px;
    width: 100px;
}

.balon11 {
    height: 100%;
    width: 100%;
    position: relative;
}

.balon11Img {
    position: absolute;
    top: -45px;
    left: 30px;
    width: 50px;
}

.balon3 {
    height: 100%;
    width: 100%;
    position: relative;
}

.balon3Img {
    position: absolute;
    top: 1320px;
    left: -60px;
    width: 250px;
    transform: rotate(10deg);
}


.balon31 {
    height: 100%;
    width: 100%;
    position: relative;
}

.balon31Img {
    position: absolute;
    top: 1320px;
    left: 550px;
    width: 250px;
    transform: scaleX(-1) rotate(20deg);
}

/* @media (max-width:1080px) {
    .pinkRibbonImg {
        width: 100vw;
        top: -150px;
        left: 0px;
    }
    
} */

.parentManRight {
    font-family: BrandonGrotesqueBold;
}

.parentWomanRight {
    font-family: BrandonGrotesqueBold;
}

@media (max-width:1080px) {
    .pinkRibbonImg {
        width: 100%;
        height: 120px;
        top: 0px;
    }

    .balon3 {
        visibility: hidden;
    }

    .balon31 {
        visibility: hidden;
    }
}