.wrapperFooterAll {
    background-color: rgb(224, 204, 215);
    width: 100%;
    height: 300px;
    padding: 20px 0px 0px 20px;
}

.footerAll {
    width: 100%;
    height: 80%;
}

.footerRightFooter {
    width: 100%;
    font-size: 12px;
}

.logoIgWrapper {
    width: 100%;
}

.logoIg {
    width: 30px;
}