.wrapperQuotesRight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: rgb(224, 204, 215);
    background-image: url("../image/BackgroundImage/quotesBG.png"), url("../image/BackgroundImage/quotesBG.png"), url("../image/BackgroundImage/quotesBG2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
    width: 100%;
}

.contentQuotesRight {
    text-align: center;
    width: 100%;
    background: url("../image/BackgroundImage/quotesBG2.png") no-repeat center center / cover,
        url("../image/BackgroundImage/quotesBG.png") no-repeat center center / cover
}

.quotesRight {
    font-size: 25px;
    font-family: BrandonGrotesque2;
    font-weight: bolder;
    /* color: white;
    -webkit-text-stroke: 0.3px pink; */
    color: #541214;
    width: 100%;
}

.quotesRight p {
    width: 70%;
}

.authorRight {
    font-size: 20px;
    font-family: BrandonGrotesque2;
    font-weight: bold;
    color: #541214;
    /* color: white;
    -webkit-text-stroke: 0.2px pink; */
    width: 80%;
    margin-bottom: 50px;
}

.contentQuotesRight div {
    width: 100%;
    height: 100%;
}

@media (max-width:1080px) {
    .quotesRight p {
        width: 90%;
    }
    

}