.wrapperRightGalleryAll {
    position: relative;
    /* height: 450px; */
    width: 100%;
    pointer-events: none !important;
}

.rightGalleryAll {
    height: 100%;
    width: 100%;
    pointer-events: none !important;
}

.imageCarrouselRight {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* Untuk memastikan gambar terpusat jika perlu */
    align-items: center;
    /* Agar gambar terpusat secara vertikal */
}

.imageCarrouselRight img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.control-dots {
    pointer-events: auto;
}

.control-arrow.control-prev {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.control-arrow.control-next {
    background-color: rgba(0, 0, 0, 0.4) !important;
    pointer-events: auto;
}

.thumbs-wrapper.axis-vertical{
    pointer-events: auto;
}

/* .rightGalleryAll .carousel-root .carousel-slider {
    height: 900px !important;
} */

.carousel-root {
    background-color: whitesmoke !important;
}

.thumbs-wrapper.axis-vertical {
    margin: 0 !important;
}

/* .crousel-item {
    opacity: 0;
    transition: opacity 1s !important;
}

.carousel-item.active {
    opacity: 1;
    transition: opacity 1s !important;
} */