.wrapperFooterAll {
    background-color: rgb(224, 204, 215);
    width: 100%;
    height: 300px;
    padding: 20px 0px 0px 20px;
}

.footerAll {
    width: 100%;
    height: 80%;
}

.footerRightFooter {
    width: 100%;
    font-size: 12px;
}

.logoIgWrapper {
    width: 100%;
}

.logoIg {
    filter: invert(20%) sepia(100%) saturate(350%) hue-rotate(-40deg);
    width: 30px;
}

.madeWith{
    font-family: BrandonGrotesqueBold;
    font-weight: bolder;
    color: #541214 ;
    font-size: 25px;
    
}

.companyUs{
    font-family: BrandonGrotesqueBold;
    font-weight: bolder;
    color: #541214 ;
    font-size: 25px;
    
}

.backSound{
    font-family: BrandonGrotesqueBold;
    font-weight: bolder;
    color: #541214 ;
    font-size: 20px;
    

}

.soundTittle{
    font-family: BrandonGrotesqueBold;
    font-weight: bold;
    color: #541214 ;
    font-size:20px;
    
}