.wrapperQuotesRight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: rgb(224, 204, 215);
    background-image: url("../image/BackgroundImage/quotesBG.png"), url("../image/BackgroundImage/quotesBG.png"),  url("../image/BackgroundImage/quotesBG2.png"); 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover;
    height: 400px; 
    width: 100%;
}

.contentQuotesRight {
    text-align: center;
    width: 100%;
    background: url("../image/BackgroundImage/quotesBG2.png") no-repeat center center / cover,
        url("../image/BackgroundImage/quotesBG.png") no-repeat center center / cover
}

.quotesRight {
    font-size: 30px;
    font-family: BrandonGrotesque;
    font-weight: bolder;
    color: white;
    -webkit-text-stroke: 0.3px pink;
}

.authorRight {
    font-size: 24px;
    font-family: BrandonGrotesque;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 0.2px pink;
}