.rightWelcome {
    height: 100%;
    width: 100%;
    background-color: #E0CCD7;
}

.imgWelcomeRight {
    width: 100%;
    height: 100%;
    background-color: #E0CCD7;
    z-index: 20;
}


.imgWelcomeRight img {
    width: 100%;
    height: 100%;
    border-radius: 0 0 100px 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    object-position: center;
    background-color: #E0CCD7;
    z-index: 20;
}

.wrapperTextWelcomeRight {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 90px;
    width: 100%;
}

.textWelcomeRight {
    text-align: center;
    color: white;
}

.countdownRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 7px;
    margin-top: 20px;
}

.time-box {
    background-image: linear-gradient(45deg, #f7d5e6, #f8aed3, #da7cab);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 20vw;
    max-width: 90px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 20px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.time-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 12px 30px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/* .rightWelcomeTop {
    position: absolute;
    top: -530px;
    left: 30px;
    font-size: 36px;
    font-weight: bolder;
} */

.rightWelcomeTop {
    position: relative;
    left: 0px;
    width: 100%;
    height: 40vh;
    font-size: 36px;
    font-weight: bolder;
    color: pink;
    -webkit-text-stroke: 0.3px black;
    font-family: BrandonGrotesque;
}


.rightWelcomeMid {
    font-size: 50px;
    font-family: QaskinBlackSambung;
    font-weight: bolder;
    color: rgb(230, 79, 104);
    -webkit-text-stroke: 0.1px #da7cab;
}

.rightWelcomeMid div {
    height: 20px !important;
    vertical-align: middle;
    font-size: auto;
    text-align: center;
}

.stroked-text {
    fill: pink;
    stroke: black;
    stroke-width: 0.3px;
    font-family: BrandonGrotesque;
    font-weight: bold;
    -webkit-text-stroke: 0.2px black;
}

.rightWelcomeTop svg {
    display: block;
    margin: 20px auto;
}

.rightWelcomeBottom {
    font-size: 30px;
    font-family: BrandonGrotesque2;
    color: rgb(230, 79, 104);
    -webkit-text-stroke: 0.1px #da7cab;
}